* {
    box-sizing: border-box;
}

/* 박스의 절대 위치 */
div {
    border: 1px solid blueviolet;
    position: absolute;
    top: 0px;
    left: 0px;
}

/* 부모 박스 기준으로 상대위치 */
/* div {
    position: relative;
    top: 0px;
    left: 0px;
} */

/* 화면을 기준으로한 절대 위치 */
/* div {
    border: 1px solid blueviolet;
    position: fixed;
    bottom: 0px;
} */

.box1,
.box2,
.box3 {
    width: 80px;
    height: 80px;
}
